* {
  box-sizing: border-box;
}
.menu {
  background-color:#e5e5e5;
  float:left;
  width:15%;
  text-align:center;

}
.menu p {
  
  padding:8px;
  margin-top:4px;
  display:block;
  width:100%;
  color:black;
  text-decoration: none;
  cursor: pointer;
}
.menu p:hover{
    color: red;
}

.main {
  float:left;
  width:65%;
  padding:0 20px;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}
 .animate-left{
   position:relative;
   animation:animateleft 1.5s}

   @keyframes animateleft{
     from{left:-900px;opacity:0}
     to{left:0;opacity:1}
 }

 .animate-top{
   position:relative;
   animation:animatetop 1.5s
 }

 @keyframes animatetop{
     from{top:-200px;opacity:0}
     to{top:0;opacity:1}
 }

.animate-opacity{
  animation:opac 3s
  }

@keyframes opac{
    from{opacity:0}
    to{opacity:1}
  }

#mainLogo{
  width:30px;
  height:30px
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
